@media screen and (max-width:600px){
    main{
        margin: 20px auto;
        width: 90%;
    }
    form{
        width: 90%;
    }
}
@media screen and (max-width:768px){
    main{
        margin: 20px auto;
        width: 90%;
    }
    form{
        width: 90%;
    }
}
@media screen and (max-width:1500px){
    main{
        margin: 20px auto;
        width: 90%;
    }
    form{
        width: 90%;
    }
}